<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div class="main">
        <h2>
            <input type="text" id="setmessage" />
            <input type="button" id="sendmessage" value="Send" />
        </h2>
    </div>
</body>
</html>